[Desktop Entry]
Name=Harbor
Comment=A Stremio client built for adventure
Exec=harbor %U
Icon=site.harbor.Harbor
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;
MimeType=x-scheme-handler/harbor;x-scheme-handler/stremio;
StartupNotify=true
StartupWMClass=site.harbor.Harbor
